<footer class="h-max w-4/5 flex justify-between m-auto my-10">
  <span class="text-woodsmoke-200 text-sm">Inspiration by <b>pherald.dev</b></span>
  <span class="text-woodsmoke-200 text-sm font-medium"><b>Stalin David</b> &bullet; 2025</span>
</footer>