---
import { Github, Linkedin, Twitter, AtSign, File } from "lucide-react"
import { Card, CardContent, CardFooter, CardHeader, CardTitle } from "@components/card/card";
import { Badge } from "@components/badge/badge";
import { Button } from "@components/button/button"
import { Avatar } from "@components/avatar/avatar";
import { Projects } from "@layouts/client/projects";



---
<article class="h-auto w-full flex flex-col mt-20 py-10 items-start justify-center space-y-14"> 
  <section class="w-auto flex flex-col items-start justify-center space-y-5">
    <h1 class="text-4xl text-woodsmoke-50 font-semibold tracking-wide">S. David</h1>
    <div class="w-auto h-max">
      <p class="text-woodsmoke-200 font-medium tracking-tight">Software Engineer & Backend Developer.</p>
      <p class="text-woodsmoke-200 text-base font-medium tracking-tight">Feel free to use my social media's to stay in touch.</p>
      <div class="inline-flex items-center justify-start space-x-5 mt-8">
        <Button variant="raw" size="icon">
          <Github className="text-woodsmoke-400"/>
        </Button>
        <Button variant="raw" size="icon">
          <Linkedin className="text-woodsmoke-400"/>
        </Button>
        <Button variant="raw" size="icon">
          <Twitter className="text-woodsmoke-400"/>
        </Button>
        <Button variant="raw" size="icon">
          <AtSign className="text-woodsmoke-400"/>
        </Button>
        <Button variant="raw" size="icon">
          <File className="text-woodsmoke-400"/>
        </Button>
      </div>
    </div>
  </section>
  <section class="w-full flex flex-col space-y-5">
    <h2 class="text-xl text-woodsmoke-50 font-semibold tracking-wide">Projects</h2>
    <div class="grid grid-flow-row auto-rows-auto grid-cols-2 gap-x-5 gap-5">
      <Card>
        <CardHeader>
          <CardTitle>
            <div class="h-max w-auto flex items-center">
              <Avatar 
                src={""}
                alt={""}
                fallback={""}
                className="w-[32px] h-[32px] inline-block"
              />
              <div class="ml-3">
                <h3 class="text-woodsmoke-50 text-base inline-block">Astro Portfolio</h3>
                <span class="text-woodsmoke-400 text-base font-medium tracking-wide">&bullet; v0.0.1</span>
              </div>
            </div>
          </CardTitle>
        </CardHeader>
        <CardContent className="text-woodsmoke-200 text-sm">
          Aliquip facilisis justo ut ipsum wisi.
        </CardContent>
        <CardFooter className="space-y-0 space-x-3.5">
          <Avatar 
            src={""}
            alt={""}
            fallback={""}
            className="w-[32px] h-[32px] inline-block"
          />
          <div class="flex space-x-2.5">
            <Badge variant="secondary">astro</Badge>
            <Badge>react</Badge>
            <Badge>tailwindcss</Badge>
          </div>
        </CardFooter>
      </Card>
      <Card>
        <CardHeader>
          <CardTitle>
            <div class="h-max w-auto flex items-center">
              <Avatar 
                src={""}
                alt={""}
                fallback={""}
                className="w-[32px] h-[32px] inline-block"
              />
              <div class="ml-3">
                <h3 class="text-woodsmoke-50 text-base inline-block">Astro Portfolio</h3>
                <span class="text-woodsmoke-400 text-base font-medium tracking-wide">&bullet; v0.0.1</span>
              </div>
            </div>
          </CardTitle>
        </CardHeader>
        <CardContent className="text-woodsmoke-200 text-sm">
          Aliquip facilisis justo ut ipsum wisi.
        </CardContent>
        <CardFooter className="space-y-0 space-x-3.5">
          <Avatar 
            src={""}
            alt={""}
            fallback={""}
            className="w-[32px] h-[32px] inline-block"
          />
          <div class="flex space-x-2.5">
            <Badge variant="secondary">astro</Badge>
            <Badge>react</Badge>
            <Badge>tailwindcss</Badge>
          </div>
        </CardFooter>
      </Card>
    </div>
  </section>
  <section class="w-full flex flex-col space-y-5">
    <h2 class="text-xl text-woodsmoke-50 font-semibold tracking-wide">Commits</h2>
    <Projects client:load/>
  </section>
</article>