---
import { Github, Linkedin, Twitter, AtSign, File } from "lucide-react"
import { Button } from "@components/button/button"
import Commits from "@layouts/Commits.astro";

---
<article class="h-auto w-full flex flex-col mt-20 py-10 items-start justify-center space-y-14"> 
  <section class="w-auto flex flex-col items-start justify-center space-y-5">
    <h1 class="text-4xl text-woodsmoke-950 dark:text-woodsmoke-50 font-semibold tracking-wide">Daln.dev</h1>
    <div class="w-auto h-max">
      <p class="text-woodsmoke-900 dark:text-woodsmoke-200 font-medium tracking-tight">Software Engineer & Backend Developer.</p>
      <p class="text-woodsmoke-900 dark:text-woodsmoke-200 text-base font-medium tracking-tight">Feel free to use my social media's to stay in touch.</p>
      <div class="inline-flex items-center justify-start space-x-5 mt-8">
        <Button variant="link" size="icon" target="_blank" href="https://github.com/RDCodev">
          <Github className="text-woodsmoke-900 dark:text-woodsmoke-400 hover:scale-125 transition-all ease-in duration-100"/>
        </Button>
        <Button variant="link" size="icon" target="_blank" href="https://www.linkedin.com/in/stalin-david-a77327294/">
          <Linkedin className="text-woodsmoke-900 dark:text-woodsmoke-400 hover:scale-125 transition-all ease-in duration-100"/>
        </Button>
        <Button variant="link" size="icon" target="_blank" href="https://x.com/RDCodev">
          <Twitter className="text-woodsmoke-900 dark:text-woodsmoke-400 hover:scale-125 transition-all ease-in duration-100"/>
        </Button>
        <Button variant="link" size="icon" target="_blank" href="#mail">
          <AtSign className="hidden text-woodsmoke-900 dark:text-woodsmoke-400 hover:scale-125 transition-all ease-in duration-100"/>
        </Button>
        <Button variant="link" size="icon" target="_blank" href="#resume">
          <File className="hidden text-woodsmoke-900 dark:text-woodsmoke-400 hover:scale-125 transition-all ease-in duration-100"/>
        </Button>
      </div>
    </div>
  </section>
  <!-- <section class="w-full flex flex-col space-y-5">
    <h2 class="text-xl text-woodsmoke-50 font-semibold tracking-wide">Projects</h2>
    <div class="grid grid-flow-row auto-rows-auto grid-cols-2 gap-x-5 gap-5">
      <Projects/>
    </div>
  </section> -->
  <section class="w-full flex flex-col space-y-5">
    <h2 class="text-xl text-woodsmoke-950 dark:text-woodsmoke-50 font-semibold tracking-wide">Commits</h2>    
    <div class="flex flex-col space-y-5 mt-5">
      <Commits />      
    </div>
  </section>
</article>