---
import { CloudOff, Moon } from "lucide-react"
import { Button } from "@components/button/button";

---
<nav class="fixed top-0 left-0 w-[90px] h-screen flex flex-col items-center justify-between py-[50px] px-[10px] border-r-2 bg-woodsmoke-100 max-sm:w-[0px] max-sm:invisible border-r-woodsmoke-900/25 dark:bg-woodsmoke-900/10 transition-all ease-in duration-100">
  <Button variant="link" size="icon" className="text-woodsmoke-950 dark:text-woodsmoke-400" href="/">
    <CloudOff size={28}/>
  </Button>
  <Button variant="raw" size="icon" className="hidden">
    <Moon size={28}/>
  </Button>
</nav>