---
import { CloudOff, Moon } from "lucide-react"
import { Button } from "@components/button/button";

---
<nav class="max-sm:hidden fixed top-0 left-0 w-[90px] h-screen flex flex-col items-center justify-between py-14 border-r-2 border-r-woodsmoke-900/25 bg-woodsmoke-900/10">
  <Button variant="raw" size="icon">
    <CloudOff size={28}/>
  </Button>
  <Button variant="raw" size="icon">
    <Moon size={28}/>
  </Button>
</nav>