---
import { Github, Linkedin, Twitter } from "lucide-react"
import { Button } from "@ui/components/button/button"
import { MailSender } from "@ui/home/mail-sender-modal/mail-sender";
import Commits from "@ui/home/Commits.astro";
import fetchGithubCommits from "@ui/home/api/github/fetchGithubCommits";

const { repos, commits } = await fetchGithubCommits();

---
<article class="h-auto w-full flex flex-col my-20 items-start justify-center space-y-14"> 
  <section class="w-auto">
    <h1 class="text-4xl text-woodsmoke-950 mb-8 dark:text-woodsmoke-50 font-semibold tracking-wide">Daln.dev</h1>
    <p class="font-medium text-woodsmoke-900 dark:text-woodsmoke-200 ">Software Engineer & Backend Developer.</p>
    <p class="font-normal text-base text-woodsmoke-900 dark:text-woodsmoke-200 ">Feel free to use my social media's to stay in touch.</p>
    <div class="inline-flex items-center justify-start space-x-5 mt-8">
      <Button variant="raw" size="icon" asChild>
        <a target="_blank" href="https://github.com/RDCodev">
          <Github className="text-woodsmoke-950 dark:text-woodsmoke-400 hover:scale-125 transition-all ease-in duration-100"/>
        </a>
      </Button>
      <Button variant="raw" size="icon" asChild>
        <a target="_blank" href="https://www.linkedin.com/in/stalin-david-a77327294/">
          <Linkedin className="text-woodsmoke-950 dark:text-woodsmoke-400 hover:scale-125 transition-all ease-in duration-100"/>
        </a>
      </Button>
      <Button variant="raw" size="icon" asChild>
        <a target="_blank" href="https://x.com/RDCodev">
          <Twitter className="text-woodsmoke-950 dark:text-woodsmoke-400 hover:scale-125 transition-all ease-in duration-100"/>
        </a>
      </Button>
      <MailSender client:only="react"/>
    </div>
  </section>
  <section class="w-full h-max">
    <h2 class="text-xl inline-block text-woodsmoke-950 dark:text-woodsmoke-50 font-semibold tracking-wide">Commits</h2>
    <span class="text-woodsmoke-600 dark:text-woodsmoke-400 mx-1">&bullet;</span>
    <span class="text-woodsmoke-600 dark:text-woodsmoke-400 font-medium text-base">
      Latest { commits.length } commits.
    </span>  
    <div class="flex flex-col space-y-5 mt-10 w-full h-max">
      <Commits repos={repos} commits={commits} server:defer/>      
    </div>
  </section>
</article>