@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #171717;
  }

  ::-webkit-scrollbar-thumb {
    background: #5d5d5d;
    border-radius: 100vh;
    border: 1px solid #6d6d6d;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4f4f4f;
  }

  * {
    @apply box-border;
  }

  @font-face {
    font-family: 'Poppins';
    font-size: normal;
    font-weight: normal;
    font-display: normal;
    src: url('/fonts/poppins/Poppins-Medium.ttf') format('ttf');
  }
}